{% extends "blog/base.html" %}

{% block title %}
  
{% endblock title %}

{% block content %}
<div class="jumbotron">
    <h2>Por favor, inicia sesión</h2>
    <h3>Debes ser un superusuario</h3>
    {% if form.errors %}
        <p>Tu usuario o contraseña son incorrectos, intenta de nuevo</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Acceder">
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>
{% endblock content %}