<!DOCTYPE html>
{% extends "first_app/base.html" %}
    {% block body_block %}

        <!-- <title>Django Cat</title> -->
        <!-- Añadiendo script css -->
    <h1>Here is a photo of Pepe</h1>
    <!-- Añadiendo imagen estática desde static -->
    <img src="{ static 'images/michi.JPG' }" alt="Something went wrong">
    <h1>Aquí estamos implementando filtros de Django</h1>
    <h2>Filtro upper (built-in): {{ text|upper }}</h2>
    <h2>Filtro custom que corta las letras L: {{ text|cut:"l" }}</h2>
    <h2>{{ number|add:"2" }}</h2>
    {{ number }}

    <!-- <div class="djangotwo">
        {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </thead>
                {%for acc in access_records %}
                <tr>
                    <td>{{ acc.name }}</td>
                    <td>{{ acc.date }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <p>No Access Records found!</p>
        {% endif %}
    </div> -->
    {% endblock %}